# Node
frontend/node_modules/
frontend/.angular/

# Java
backend/target/

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/tfplan
infra/terraform/terraform.tfvars

# OS
.DS_Store
