project_name              = "url-shortner"
aws_region                = "us-east-1"
root_domain               = "jkrocha.com.br"
api_subdomain             = "api"
frontend_subdomain        = "shortner"
route53_zone_id           = "Z1234567890ABC"
api_certificate_arn       = "arn:aws:acm:us-east-1:111111111111:certificate/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
frontend_certificate_arn  = "arn:aws:acm:us-east-1:111111111111:certificate/ffffffff-1111-2222-3333-444444444444"
dynamodb_table_name       = "url-shortner"
lambda_zip_path           = "../artifacts/url-shortner-backend.zip"
frontend_bucket_name      = "url-shortner-frontend-prod-111111111111"
environment               = "prod"
